data_config:
  dataset_path: "./Data/Imagenette"
  dataset_name: "Imagenette"
  non_iid_per: 0

global_config:
  seed: 42
  device: "cuda"

surrogate:
  client_id: 0
  pool_size: 2         # number of client shards to pool for surrogate training
  num_epochs: 2
  batch_size: 128
  learning_rate: 0.0005
  weight_decay: 0.0001
  freeze_backbone: true
  augment: true
  early_stop_patience: 2
  dataset_path: "./Data/Imagenette"
  dataset_name: "Imagenette"
  non_iid_per: 0

model_config:
  module: "model"
  name: "MobileNetV3Transfer"
  kwargs:
    pretrained: true
    num_classes: 10

algorithms:
  FedAvg:
    fed_config:
      fraction_clients: 0.2
      num_clients: 50
      num_rounds: 2
      num_epochs: 2
      batch_size: 128
      global_stepsize: 1.0
      local_stepsize: 0.003
      criterion: "torch.nn.CrossEntropyLoss"
    optim_config: {}

  Scaffold:
    fed_config:
      fraction_clients: 0.1
      num_clients: 100
      num_rounds: 1
      num_epochs: 5
      batch_size: 64
      global_stepsize: 0.1
      local_stepsize: 0.01
      criterion: "torch.nn.CrossEntropyLoss"
    optim_config:
      c_init: 0.05

  FedAdam:
    fed_config:
      fraction_clients: 0.1
      num_clients: 100
      num_rounds: 1
      num_epochs: 5
      batch_size: 64
      global_stepsize: 0.1
      local_stepsize: 0.01
      criterion: "torch.nn.CrossEntropyLoss"
    optim_config:
      beta1: 0.9
      beta2: 0.99
      epsilon: 0.000001

  FedAdagrad:
    fed_config:
      fraction_clients: 0.1
      num_clients: 100
      num_rounds: 1
      num_epochs: 5
      batch_size: 64
      global_stepsize: 0.1
      local_stepsize: 0.01
      criterion: "torch.nn.CrossEntropyLoss"
    optim_config:
      epsilon: 0.000001

  FedYogi:
    fed_config:
      fraction_clients: 0.1
      num_clients: 100
      num_rounds: 1
      num_epochs: 5
      batch_size: 64
      global_stepsize: 0.1
      local_stepsize: 0.01
      criterion: "torch.nn.CrossEntropyLoss"
    optim_config:
      beta1: 0.9
      beta2: 0.99
      epsilon: 0.000001

attack:
  seed: 42
  malicious_fraction: 0.1
  start_round: 5
  attack:
    type: "pgd"
    poison_rate: 0.2
    target_label: 0
    epsilon: 0.03137255    # 8/255
    step_size: 0.00784314      # 2/255
    iters: 20
    criterion: "torch.nn.CrossEntropyLoss"
    poison_rate_schedule:
      type: linear
      start: 0.05
      end:   0.2
  surrogate:
    pretrained: true
    finetune_epochs: 3
    lr: 0.001
    weight_decay: 0.0001
    batch_size: 64
    freeze_backbone: true
    augment: true
    early_stop_patience: 2
